{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="{% static 'main/main.js' %}"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- jsx -->
    <script type="text/javascript" charset="UTF-8" src="https://cdn.jsdelivr.net/npm/jsxgraph@1.2.1/distrib/jsxgraphcore.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/jsxgraph@1.2.1/distrib/jsxgraph.css" />

    <title>Подбор</title>

    <script>

    </script>
  </head>
  <body>
    <h1>Подбор подходящего насоса</h1>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <div>
       <button type="button" class="btn btn-outline-primary btn-block" style="width: 200px;">Главная</button>
       <button type="button" class="btn btn-outline-primary btn-block" style="width: 200px;">Каталог</button>
       <button type="button" class="btn btn-outline-primary btn-block" style="width: 200px;">Подбор</button>
       <button type="button" class="btn btn-outline-primary btn-block" style="width: 200px;">Сравнение</button>
    </div>

    <nav aria-label="Page navigation example" class="visible">
      <ul class="pagination">
        <li class="page-item" data-page="select-table"><a class="page-link" href="#">Таблица</a></li>
        <li class="page-item" data-page="select-curve"><a class="page-link" href="#">Графики</a></li>
        <li class="page-item" data-page="select-compare"><a class="page-link" href="#">Лучшие решения</a></li>
      </ul>
    </nav>

    <!-- inputs -->
    <form>
      {% csrf_token %}
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">м3/ч</span>
        <input type="number" class="form-control select-parameters-q" placeholder="Расход">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">м</span>
        <input type="number" class="form-control select-parameters-h" placeholder="Напор">
      </div>
      <div>
        <button type="submit" class="btn btn-primary select-parameters-send">Подобрать</button>
      </div>
    </form>

    <!-- table -->
    <div class="select select-table" hidden>
      <p>Таблица</p>
      <table class="table table-striped table-dark table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Бренд</th>
            <th scope="col">Модель</th>
            <th scope="col">DN</th>
            <th scope="col">Стоимость</th>
            <th scope="col">Скорость</th>
            <th scope="col">Скорость</th>
            <th scope="col">Q/Qопт</th>
            <th scope="col">КПД</th>
            <th scope="col">Мощность на валу</th>
            <th scope="col">Расход</th>
          </tr>
        </thead>
        <tbody class='select-table-rows'>
          <tr class='select-table-row-template' hidden>
            <th class="select-table-row-scope" scope="row">1</th>
            <td class="select-table-col">-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="select select-curve" hidden>
        <p>График</p>

        <div style="overflow: hidden;">
            <div class="select select-list">
                <p>Модели</p>
                <table class="table table-striped table-dark table-bordered">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Бренд</th>
                    <th scope="col">Модель</th>
                    </tr>
                </thead>
                <tbody class='select-list-rows'>
                    <tr class='select-list-row-template'>
                    <th class="select-list-row-scope" scope="row">1</th>
                    <td class="select-list-col">-</td>
                    <td>-</td>
                    <td>-</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div id="jxgbox" class="jxgbox" style="width:500px; height:600px;"></div>
        </div>

    <div class="select select-compare" hidden>
      <p>Сравнение</p>
    </div>
    
  </body>
</html>

